extends layout

block content
    h1= title
    p go to #{response['places'][0]['place']}
    p #{response['places'][0]['year']}
    p #{response['places'][0]['area']}
    p #{response['places'][0]['Crop']}