extends layout

block content
    h1= title
    p Hello, World! go to #{response['places']} give #{response['give']}
    p #{response['season']}
    p #{response['days']}
    p #{response['avgyield']}
    p #{response['feat']}
    p #{response['places']}
    p #{response['when']}
    p #{response['give']}
    p #{response['gives']}
    p #{response['where']}
    p #{response['certaintyValueSeason']}
    p #{response['certaintyValueDays']}
    p #{response['certaintyValueAvgyield']}
    p #{response['certaintyValueFeat']}
    p #{response['certaintyValuePlaces']}