extends layout

block content
    h1= title
    p humidity is #{response['humidity']}
    p temp is #{response['temperature']}
    p wind is #{response['windy']}
    p weather is #{response['weather']}
    p fishing possiblity is #{response['fishing']}